/NoMansTerrain.xcodeproj
/Discord-Setup-Package.md
/NoMansTerrainAvalonia/bin
/NoMansTerrainCrossUI/.build
/NoMansTerrainAvalonia/obj

# Installer build outputs
/dist/
*.wixpdb
*.wixobj
/.vscode
/.idea
